<?php
	if($this->canShowMap()):
	$coords = $this->getRecipientGeoPosition();
	$markerData = $this->getMarkerData();
	$markerBaseUrl = Mage::getBaseUrl('media').'pakipoint/marker_icons/';
?>

<div id="pakipoint-map" style="width:100%; height:300px; margin:0 0 20px; background:#fafafa;"></div>
<script type="text/javascript">
	var map;
	var allMarkers = [];
	var markerBaseIconUrl = '<?php echo $markerBaseUrl; ?>';
	var currPos = {lat:<?php echo $coords->lat ?>, lng:<?php echo $coords->lng ?>};
	var bounds = new google.maps.LatLngBounds();
	var selectedMethodId = '<?php echo $this->getSelectedShippingMethod() ?>';
	
	/**
	 * Initialize Map and Markers
	*/
	function initMap()
	{	
		
		map = new google.maps.Map(document.getElementById('pakipoint-map'), {
			zoom: 18,
			center: currPos,
			streetViewControl: false
		});
		
		// add customer location marker
		var marker = new google.maps.Marker({
			position: currPos,
			map: map,
			icon: {
				url: markerBaseIconUrl + 'home.png',
				scaledSize: new google.maps.Size(28, 46),
			}
		});
		bounds.extend(marker.getPosition());
		
	<?php foreach($markerData as $marker): ?>
		// add all destinations to map
		var marker = new google.maps.Marker({
			position: {lat:<?php echo $marker->getLat(); ?>, lng:<?php echo $marker->getLng() ?>},
			map: map,
//			icon: 'http://maps.google.com/mapfiles/marker'+'<?php echo $marker->getType(); ?>'.substring(0,1).toUpperCase()+'.png',
//			title: '<?php echo $marker->getTitle(); ?>',
//			label: '<?php echo $marker->getType(); ?>'.substring(0,1).toUpperCase(),
			target_id: 's_method_<?php echo $marker->getId(); ?>',
			type: '<?php echo $marker->getType(); ?>',
			icon_default: {
				url: markerBaseIconUrl + '<?php echo $marker->getType(); ?>' + '.png',
				scaledSize: new google.maps.Size(28, 46),
			},
			icon_active: {
				url: markerBaseIconUrl + '<?php echo $marker->getType(); ?>' + '_active.png',
				scaledSize: new google.maps.Size(28, 46),
			},
			infowindow: new google.maps.InfoWindow({
				content: '<?php echo $marker->getTitle(); ?>'
			})
		});
		
		// infowindow with title
		marker.addListener('mouseover', function(){
			this.infowindow.open(map, this);
		});
		marker.addListener('mouseout', function(){
			this.infowindow.close(map, this);
		});
		
		marker.setIcon(marker.icon_default);
		bounds.extend(marker.getPosition());
		marker.addListener('click', selectShippingMethod);
		allMarkers.push(marker);
		
	<?php endforeach; ?>
	
		// adjust map zoom to include all markers
		map.fitBounds(bounds);
//		google.maps.event.addListenerOnce(map, 'bounds_changed', function(event){
//			map.setZoom(map.getZoom() + 1);
//		});
	}
	
	
	function selectShippingMethod()
	{
		var id = this.target_id;
		$j('#'+id).click();
		setMarkerActive(id);
	}
	
	function setMarkerActive(id)
	{
		$j.each(allMarkers, function(i,v){
			v.setIcon(v.icon_default);
//			v.setAnimation(null);
			if(v.target_id == id){
				v.setIcon(v.icon_active);
//				v.setAnimation(google.maps.Animation.BOUNCE);
			}
		});
	}
	
	$j(document).ready(function(){
		//init map
		initMap();
		
		// add listeners to update marker state
		$j('input[name="shipping_method"]').change(function(){
			var id = $j(this).attr('id');
			setMarkerActive(id);
		});
		
		setMarkerActive('s_method_'+selectedMethodId);
	});
</script>

<?php endif; ?>