<?php 
	$mode = strtoupper(Mage::getStoreConfig('carriers/pakipoint/api_endpoint_type'));
	if($this->needShowRegistrationLink()):
?>
<div class="notification-global notification-global-notice">
    <strong><?php echo $this->helper('index')->__('You need to register '.$mode.' account to start using Pakipoint.') ?></strong>
    <?php echo $this->helper('pakipoint')->__('Please fill out the form on <a href="%s">this page</a> to enable Pakipoint services.', $this->getRegistrationUrl());?>
</div>
<?php endif;?>
